<div class="action-container">
    <h2>Home</h2>
    <p>Digite a url /Home para acessar a página atual</p>
    <p>Digite a url /Admin para acessar a área de administrativa</p>
    <p>Digite a url /{slug}/{slug} para acessar um formulário</p>
</div>